<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
</head>
<body>
    <header>
        <h1>Task Manager</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for("index") }}">Home</a></li>
                <li><a href="{{ url_for("task_list") }}">Tasks</a></li>
                <li><a href="{{ url_for("add_task_get") }}">Add Task</a></li>
            </ul>
        </nav>
    </header>
    <main>
      {% block main%}
      {% endblock %}
    </main>
</body>
</html>
